.idea/
*.pkl
wandb/*
__pycache__/
data/
gradcam_kw/
gradcam/result/
gradcam/result/output/
pfam/
sh/wandb/
*.txt
*.csv
*.tsv
/home/hb/python/efficientnet_kincnn/code/benchmark_XAI/benchmark_test0_result.csv
/home/hb/python/efficientnet_kincnn/code/1006_psp.csv
/home/hb/python/efficientnet_kincnn/code/make_false/1027_psp_processed_true.csv
/home/hb/python/efficientnet_kincnn/code/make_false/1029_false.csv
/home/hb/python/efficientnet_kincnn/code/make_false/1030_total.csv
/home/hb/python/efficientnet_kincnn/code/make_false/fianl_psp1019.csv
/home/hb/python/efficientnet_kincnn/code/make_false/data

